html{
 background-color: #ffEFD4; 
}

.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

form{
  text-align: center;

}
span{
  text-decoration: underline;
  font-weight: bold;
}

p{
  margin: 0rem;

}


input{
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
}

.editCard{
  text-align: left;
  margin: 0px;
  padding: 0px;

}

.dropDown{
  background-color: white;
  padding: 0.25rem;
  margin: 0.25rem;
  text-align: center;
}

.dropDownCard{
  background-color: white;
}


.taskBoard{
  display: flex;
  flex-flow: no-wrap;
  justify-content: center;
  height: 90%;
  padding: 0.5rem;
}

.queue{
  /*border: 3px red solid;*/
  width: 30%;
  background-color: #D0ECEA;
  margin: 1rem;
    
}
.current{
  /*border: 3px blue solid;*/
  width: 30%;
  background-color: #9FD6D2;
  margin: 1rem;

}
.completed{
  /*border: 3px green solid;*/
  width: 30%;
  background-color: #21A3A3;
  margin: 1rem;
}

.queue-card{
  /*border: 3px blue solid;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /*padding: 0.25rem;*/
}

.current-card{
  /*border: 3px red solid;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /*padding: 0.25rem;*/
}

.completed-card{
 /* border: 3px chartreuse solid;*/
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  /*padding: 0.25rem;*/
}

.mellow{
  background-color: #E1F5C4;
  padding: 0.25rem;
}
.whatevs{
  background-color: #EDE574;
  padding: 0.25rem;

}
.urgent{
  background-color: #FFbea9;
  padding: 0.25rem;

}
.block{
  background-color: #ff4e50;
  padding: 0.25rem;

}
.task{
  font-size: 0.6rem;
  font-weight: bold;
}
.responsible{
  text-align: right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
